---
---

@import "{{ site.theme }}";

header {
	padding: 15px;
    background-color: rgb(161, 227, 249);
    box-shadow: 0 0 10px black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-wrap: break-word;
	position: fixed;
	width: 100%;
}